extends ./layout/index

block contenido
    main.container.mt-5
        .row
            .col-md-5
                img(src="/img/nosotros.jpg", alt="", class="img-fluid")
            .col-md-7
                h1 #{pagina}
                blockquote Lorem Ipsum es simplemente el texto de relleno de las imprentas y archivos
                p de texto. Lorem Ipsum ha sido el texto de relleno estándar de las industrias
                p desde el año 1500, cuando un impresor (N. del T. persona que se dedica
                p a la imprenta) desconocido usó una galería de textos y los mezcló de tal
                p manera que logró hacer un libro de textos especimen. No sólo sobrevivió
                p 500 años, sino que tambien ingresó como texto de relleno en documentos
                p electrónicos, quedando esencialmente igual al original.
                p Fue popularizado en los 60s con la creación de las hojas "Letraset",
                p las cuales contenian pasajes de Lorem Ipsum, y más recientemente
                p con software de autoedición, como por ejemplo Aldus PageMaker, el
                p cual incluye versiones de Lorem Ipsum.

    .listado-iconos
        .container.mt-5.py-5.text-xl-center
            .row
                .col-md-4
                    img(src="/img/icono_seguridad.svg", alt="icono seguridad", class="img-fluid mb-4")
                    h2.mb-4 Seguridad
                    p El trozo de texto estándar de Lorem Ipsum usado desde el año 1500 es reproducido debajo para aquellos interesados. Las secciones 1.10.32 y 1.10.33 de "de Finibus Bonorum et Malorum"
                .col-md-4
                    img(src="/img/icono_destinos.svg", alt="icono destinos", class="img-fluid mb-4")
                    h2.mb-4 Mejores Destinos
                    p El trozo de texto estándar de Lorem Ipsum usado desde el año 1500 es reproducido debajo para aquellos interesados. Las secciones 1.10.32 y 1.10.33 de "de Finibus Bonorum et Malorum"
                .col-md-4
                    img(src="/img/icono_precios.svg", alt="icono precios", class="img-fluid md-4")
                    h2.mb-4 Los Mejores Destinos
                    p El trozo de texto estándar de Lorem Ipsum usado desde el año 1500 es reproducido debajo para aquellos interesados. Las secciones 1.10.32 y 1.10.33 de "de Finibus Bonorum et Malorum"